<div>
    <nav class='flex justify-around items-center bg-slate-700 p-5 text-2xl'>
        <a class='opacity-100 p-3 hover:opacity-100 t200e ' href='/'>Home</a>
        <a class='opacity-50 p-3 hover:opacity-100 t200e' href='/listprod'>Product List</a>
        <a class='opacity-50 p-3 hover:opacity-100 t200e' href='/listorder'>Order List</a>
        <a class='opacity-50 p-3 hover:opacity-100 t200e' href='/showcart'>Show Cart</a>
    </nav>
    <h1 class="text-7xl my-5 font-light">Welcome to PC8th Computer Parts</h1>

    <div class="flex space-x-5 justify-center text-2xl">
        <a href="/listprod">
            <h1 class="btn">Browse Products</h1>
        </a>
        <a href="/listorder">
            <h1 class=" btn">List All Orders</h1>
        </a>
    </div>
</div>