<div class="mp5">
    <h1 class="text-7xl my-5 font-light">Welcome to PC8th Computer Parts</h1>

    <div class="flex space-x-5 justify-center text-2xl">
        <a href="/listprod">
            <h1 class="btn">Begin Shopping</h1>
        </a>
        <a href="/listorder">
            <h1 class=" btn">List All Orders</h1>
        </a>
    </div>
</div>