<div>
    <nav
        class="z-10 fixed w-full bg-gradient-to-t from-transparent to-slate-700 flex justify-between items-center px-10 py-8 text-2xl">
        <!-- Logo -->
        <a class="opacity-100 p-3 hover:opacity-100 t200e text-6xl w-3/4" href="/">PC8th</a>

        <!-- Navigation Links -->
        <div class="flex justify-center w-full">
            <!-- Product List -->
            <a href="/listprod" class="relative group p-3">
                <div class="opacity-50 group-hover:opacity-100 t200e">Product List</div>
                <div class="absolute bottom-0 left-0 w-full h-0.5 bg-white scale-x-0 group-hover:scale-x-100 t200e">
                </div>
            </a>

            <!-- Order List -->
            <a href="/listorder" class="relative group p-3">
                <div class="opacity-50 group-hover:opacity-100 t200e">Order List</div>
                <div class="absolute bottom-0 left-0 w-full h-0.5 bg-white scale-x-0 group-hover:scale-x-100 t200e">
                </div>
            </a>

            <!-- My Cart -->
            <a href="/showcart" class="relative group p-3">
                <div class="opacity-50 group-hover:opacity-100 t200e">My Cart</div>
                <div class="absolute bottom-0 left-0 w-full h-0.5 bg-white scale-x-0 group-hover:scale-x-100 t200e">
                </div>
            </a>
        </div>

        <!-- Login -->
        <div>
            <a class="opacity-50 p-3 hover:opacity-100 t200e px-10" href="/login">Login</a>
        </div>
    </nav>





    <div class="relative w-full opacity-0 animate-fade-in-instant">
        <div class="relative h-screen">
            <img src="/img/rtx5000.jpg" class="absolute w-full h-full object-cover brightness-50 -z-10" alt="RTX 5000">
            <div class="absolute inset-0 flex flex-col items-center justify-center">
                <h1 class="font-thin text-white text-7xl text-center">
                    <span class="block opacity-0 animate-fall-1">
                        Shop the all new RTX 5090.
                    </span>
                    <span class="block opacity-0 animate-fall-2">
                        The most powerful GPU in the world.
                    </span>
                    <span class="block opacity-0 animate-fall-3">
                        Now available at PC8th.
                    </span>
                </h1>
                <a href="/listprod"
                    class="mt-8 relative group font-bold bg-slate-800 p-5 bg-opacity-80 hover:bg-opacity-100 t200e">
                    <div class="flex items-center text-white">
                        <span class="text-2xl">Browse Products</span>
                        <span class="overflow-hidden w-0 group-hover:w-8 t200e">
                            <span class="pl-2 text-2xl">&rarr;</span>
                        </span>
                    </div>
                    <div class="absolute bottom-0 left-0 w-full h-0.5 bg-white scale-x-0 group-hover:scale-x-100 t200e">
                    </div>
                </a>

            </div>
        </div>
    </div>

</div>